<body class="mdui-loaded mdui-drawer-body-left mdui-appbar-with-toolbar">
<div id="appbar-placeholder"></div>
<div id="content">
    <div class="loading mdui-p-t-3 mdui-p-l-3 mdui-p-r-3" id="loading">
        <div class="mdui-progress">
            <div class="mdui-progress-indeterminate"></div>
        </div>
    </div>
    <div class="mdui-container-fluid mdui-hidden" id="marked-data">
        <div class="explanation mdui-p-t-2" id="marked-words">
        </div>
        <div class="item mdui-text-center mdui-p-t-2 mdui-p-b-2">
            <button class="mdui-btn mdui-btn-raised mdui-color-red mdui-text-color-white-text"
                    onclick="mdui.confirm('确认清除所有收藏吗？清除的收藏将无法恢复。', '清除收藏', clear_marks, function(e){e.close();}, {confirmText: '确认', cancelText: '取消'})">
                清除所有收藏
            </button>
        </div>
    </div>
</div>
</body>
